In [1]:
# Importing required packages

import pandas as pd
import numpy as np

import os
import gc

In [3]:
path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/raw/gdw_data/'

month_list = os.listdir(path)
month_list.sort()

query_columns = ['sld_menu_itm_id', 'cmbo_pren_sld_menu_itm_id', 'pos_busn_dt']

ans_df = pd.DataFrame()

for month in month_list :
    
    df = pd.read_parquet(path + month + '/data.parquet', engine="pyarrow", columns=query_columns, use_threads=50)
    
    df = df[(df['cmbo_pren_sld_menu_itm_id'] == -1)|(df['cmbo_pren_sld_menu_itm_id'] == df['sld_menu_itm_id'])]
    df['monthid'] = df['pos_busn_dt'].dt.strftime('%Y%m')
    
    ans_df = pd.concat([ans_df, df[['monthid', 'sld_menu_itm_id']].drop_duplicates()], axis=0)
    
    del df
    gc.collect()
    
    print(month)

month_id=20180101
month_id=20180201
month_id=20180301
month_id=20180401
month_id=20180501
month_id=20180601
month_id=20180701
month_id=20180801
month_id=20180901
month_id=20181001
month_id=20181101
month_id=20181201
month_id=20190101
month_id=20190201
month_id=20190301
month_id=20190401
month_id=20190501
month_id=20190601
month_id=20190701
month_id=20190801
month_id=20190901
month_id=20191001
month_id=20191101
month_id=20191201
month_id=20200101
month_id=20200201
month_id=20200301
month_id=20200401
month_id=20200501
month_id=20200601
month_id=20200701
month_id=20200801
month_id=20200901
month_id=20201001
month_id=20201101
month_id=20201201
month_id=20210101
month_id=20210201
month_id=20210301
month_id=20210401
month_id=20210501
month_id=20210601
month_id=20210701

ans_df

In [4]:
ans_df

          monthid  sld_menu_itm_id
0          201801             2373
1          201801             2361
2          201801             3030
3          201801             2302
4          201801             2086
...           ...              ...
161735393  202107             8518
163018173  202107         10000169
163280899  202107         10000280
163543559  202107         10000254
163546769  202107         10000170

[23718 rows x 2 columns]

In [5]:
ans_df.to_csv('Ungrouped_data_presence.csv', index=False)